.card {
  @include flex(column, flex-start, flex-start, 3rem);
  @media only screen and (max-width: $bp-medium){
    justify-content: center;
    align-items: center;
    gap: 0; 
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  &__front {
    box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.104);
    border-radius: 15px;
    @media only screen and (max-width: $bp-medium){
      max-width: 28.1rem;
      position: absolute;
      z-index: 10;
      top: 14%;  
    }
    @media only screen and (max-width: $bp-small){
      width: 79%;
      max-width: none;
      // max-width: 35rem;
      // min-width: 28.1rem;
    }
    &--bg__img {
      position: relative;
      background-image: url('../images/bg-card-front.png');
      background-repeat: no-repeat;
      border-radius: 10px;
      @media only screen and (max-width: $bp-medium){
        width: 100%;
        background-size: cover;
      }
      .bg__front-img {
        visibility: hidden;
        opacity: 0;
        display: block;
        @media only screen and (max-width: $bp-medium){
          width: 100%;
        }
      }
      &-details {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 3rem;
        @include flex(column, space-between, flex-start, 0);
        @media only screen and (max-width: $bp-medium){
          padding: 1.2rem;
        }
        .card__info {
          display: flex;
          flex-direction: column;
          gap: 2.8rem;
          width: 100%;
          @media only screen and (max-width: $bp-medium){
            gap: 1.8rem;
          }
          &--num {
            color: var(--white);
            text-align: center;
            & p {
              letter-spacing: 6px;
              font-size: 2.4rem;
              text-align: initial;
              @media only screen and (max-width: $bp-medium){
                letter-spacing: 3px;
                text-align: center;
                font-size: 1.8rem;
              }
            }
          }
          &--name-exp {
            @include flex(row, space-between, center, 0);
            font-size: 1.4rem;
            color: var(--white);
            text-transform: uppercase;
            letter-spacing: 1.8;
          }
        }
      }
    }
  }
  &__back {
    align-self: flex-end;
    border-radius: 15px;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.184);
    @media only screen and (max-width: $bp-medium){
      align-self: auto;
      width: 28.1rem;
      grid-row: 1;
      justify-self: flex-end;
    }
    @media only screen and (max-width: $bp-small){
      width: 79%;
    }
    &--bg__img {
      position: relative;
      background-image: url('../images/bg-card-back.png');
      background-repeat: no-repeat;
      border-radius: 10px;
      @media only screen and (max-width: $bp-medium){
        width: 100%;
        background-size: cover;
      }
      .bg__back-img {
        visibility: hidden;
        opacity: 0;
        display: block;
        @media only screen and (max-width: $bp-medium){
          width: 100%;
        }
      }
      &-details {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 6rem;
        @include flex(row, flex-end, center, 0);
        &--ccv {
          font-size: 1.4rem;
          color: var(--white);
        }
      }
    }
  }
}