.card__form {
  padding: 3rem;
  @include flex(row, center, center, 0);
  @media only screen and (max-width: $bp-medium){
    padding: 0;
    align-items: baseline;
  }
  @media only screen and (max-width: $bp-small){
    width: 90vw;
  }
  &--container {
    @include flex(column, normal, normal, 1.8rem);
    @media only screen and (max-width: $bp-small){
      width: 100%;
    }
    .form__group {
      @include flex(column, normal, normal, 0);
      gap: .5rem;
      & label {
        text-transform: uppercase;
        color: var(--very-dark-violet);
        font-weight: 600;
      }
      & p {
        color: var(--red-errors);
        font-weight: 600;
      }
      & input {
        padding: 1.2rem 2rem;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.188);
        cursor: pointer;
      }
      & input:focus {
        outline-color: var(--very-dark-violet);
      }
      ::-webkit-input-placeholder { /* Chrome */
        color: var(--dark-grayish-violet);
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: var(--dark-grayish-violet);
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: var(--dark-grayish-violet);
      }
      &--exp {
        &-mmyy {
          display: flex;
          gap: 1rem;
          @media only screen and (max-width: $bp-small){
            gap: .5rem;
          }
          & input {
            width: 7rem;  
          }
        }
      }
      &--cvv {
        & input {
          width: 98%
        }
      }
    }
    .form__card_details {
      @include flex(row, center, center, 4rem);
      @media only screen and (max-width: $bp-small){
        gap: 1rem;
      }
      .form__group--exp, 
      .form__group--cvv {
        @include flex(column, flex-start, flex-start, .5rem);
      }
    }
    .form__card_btn {
      margin-top: 1.8rem;
      & button {
        width: 100%;
        padding: 1.2rem 2rem;
        border-radius: 10px;
        border: none;
        background-color: var(--very-dark-violet);
        color: var(--white);
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }      
}   