@import 'base';
@import 'mixins';
.container {
  max-width: 115rem;
  width: 85vw;
  @media only screen and (max-width: $bp-large){
    width: 95vw;
  }
  @media only screen and (max-width: $bp-small){
    justify-items: center;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: $bp-medium){
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @import 'card';
  @import 'form';  
  @import 'success';
}

.hidden {
  display: none !important;
}

